.imprint-content{
	display: none;
	
	position: relative;
	padding-top: 50px;
	text-align: center;
	background-color: #575756;
	
	&__title{
		@extend .heading;

		margin: {
			top: 0;
			bottom: 20px;
		}
	}

	&__text{
		margin: {
			top: 0;
			bottom: 0;
		}

		color: #fff;
    font-weight: normal;
		
		@media(max-width: $screen-md-max){
			font-size: 16px;
	    line-height: 21px;
	    text-align: center;
		}
		@media(min-width: $screen-md){
			font-size: 18px;
			line-height: 30px;
		}
	}
	.brush-font{
		color: $color-primary;
		margin-bottom: 40px;
	}
}