.section-team{
	background-color: $color-primary;

	@media(max-width: $screen-md-max){
		padding: {
			top: 50px;
			bottom: 50px;
		}
	}
	@media(min-width: $screen-md){
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		height: 100vh;
		padding: {
			top: 100px;
			bottom: 100px;
		}
	}

	/* title */
	&__title{
		@extend .heading;

		margin-bottom: 40px;
	}
}

.section-team-slides-wrapper{
	width: 100%;
	display: flex;
	
	@media(max-width: $screen-md-max){
		flex-direction: column;
	}
	@media(min-width: $screen-md){
		
	}
}
.section-team-slide{
	overflow: hidden;

	color: $color-text;
	
	@media(max-width: $screen-md-max){
		flex: 0 0 100%;
	}
	@media(min-width: $screen-md){
		flex: 0 0 calc(100% / 3);	
	}
	
	@media(max-width: $screen-lg){
		height: 250px;
	}
	@media(min-width: $screen-lg){
		height: 50vh;
	}
	
	&__location,
	&__name,
	&__info{
		width: 230px;
		padding: {
			left: 20px;
			right: 20px;
		}
		line-height: 1.3;

		box-sizing: border-box;
	}

	/* location*/
	&__location{
		margin: 0;

		font-weight: normal;
		background-color: $color-white;
		text-transform: uppercase;

		@media(max-width: $screen-lg-max){
			font-size: 16px;

			margin: {
				top: 70px;
				bottom: 0;
			}
		}
		@media(min-width: $screen-lg){
			font-size: 16px;
		}
	}

	/* name */
	&__name{
		margin: {
			top: 5px;
			bottom: 5px;
		}
		
		font-weight: 900;
		background-color: $color-white;
		text-transform: uppercase;

		@media(max-width: $screen-lg-max){
			font-size: 18px;
		}
		@media(min-width: $screen-lg){
			font-size: 24px;
		}
	}

	/* info */
	&__info{
		font-weight: normal;
		background-color: $color-white;
		color: $color-text;
		text-decoration: none;

		transition: $transition;

		&:hover{
			background-color: $color-primary;
		}

		@media(max-width: $screen-lg-max){
			margin: 0;
			font-size: 16px;

			&:last-child{
				margin: {
					top: 5px;
					bottom: 25px;
				}	
			}
		}
		@media(min-width: $screen-lg){
			margin: 0;
			font-size: 16px;

			&:last-child{
				margin: {
					top: 5px;
					bottom: 50px;
				}	
			}
		}
	}

	/* Modification */
	&--sonia,
	&--phillip{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		@media(max-width: $screen-md-max){
			align-items: center;
		}
	}
	&--sonia{
		background: {
			image: url('./images/team/team-sonja.png');
			position: 50%;
			repeat: no-repeat;
			size: cover;
		}

		@media(min-width: $screen-md){
			align-items: flex-start;
		}
	}
	&--phillip{
		background: {
			image: url('./images/team/team-philipp02.png');
			position: 50%;
			repeat: no-repeat;
			size: cover;
		}

		@media(min-width: $screen-md){
			align-items: flex-end;
			text-align: right;
		}
	}
}

/* team slider, team slider items*/ 
.section-team-slider{
	height: 100%;

	.slick-list,
	.slick-track{
		height: 100%;
	}
	.team-slide{
		height: 100%;
		overflow: hidden;

		background: {
			position: 50%;
			repeat: no-repeat;
			size: cover;
		}
		&--1{
			background-image: url('./images/team/team-lukas.png');
		}
		&--2{
			background-image: url('./images/team/team-philip2.jpg');
		}
		&--3{
			background-image: url('./images/team/team-sandro.png');
		}
		&--4{
			background-image: url('./images/team/team-joern.png');
		}
		&--5{
			background-image: url('./images/team/team-caspar.jpg');
		}
		&--6{
			background-image: url('./images/team/team-marian_hauffe.jpg');
		}
		&--7{
			background-image: url('./images/team/team-matthias.jpg');
		}
		&--8{
			background-image: url('./images/team/team-robert_wiese.jpg');
		}
		&--9{
			background-image: url('./images/team/team-sonja02.png');
		}
		&--10{
			background-image: url('./images/team/team-taleb.jpg');
		}
		&--11{
			background-image: url('./images/team/team-wolke.jpg');
		}
	}
}
