@font-face {
	font-family: 'Northwell Swash';
	src: url('./fonts/NorthwellSwash.eot');
	src: url('./fonts/NorthwellSwash.eot?#iefix') format('embedded-opentype'),
		url('./fonts/NorthwellSwash.woff2') format('woff2'),
		url('./fonts/NorthwellSwash.woff') format('woff'),
		url('./fonts/NorthwellSwash.ttf') format('truetype'),
		url('./fonts/NorthwellSwash.svg#NorthwellSwash') format('svg');
	font-weight: normal;
	font-style: normal;
}
