.dots-content-wrapper{
	margin-top: 30px;
}

.dot-content-item{
	display: none;
	position: relative;
	padding: {
		top: 100px;
		bottom: 50px;
	}

	text-align: center;
	background-color: $color-secondary;

	&.active{
		display: block;
	}

	.brush-font{
		margin-bottom: 20px;
		line-height: 30px;
		
		color: $color-primary;
	}

	.video-wrapper{
		
		&--vertical{
			width: 290px;
			height: 500px;

			background: {
				image: url('../dist/images/iphone-vertical.png');
				repeat: no-repeat;
				size: contain;
				position: 50%;
			}
			
			iframe{
				width: 225px;
		    height: 400px;
		    margin-top: 50px;
			}

			@media(max-width: $screen-sm-max){
				margin-bottom: 20px;
			}
		}

		&--horizontal{
			margin-bottom: 20px;
			height: 296px;
			@media(max-width: $screen-sm-max){
				width: 100%;
			}
			@media(min-width: $screen-sm){
				width: 600px;

				background: {
					image: url('../dist/images/iphone-horizontal.png');
					repeat: no-repeat;
					size: cover;
					position: 50%;
				}
			}
			
			iframe{
		    height: 268px;
		    
				@media(max-width: $screen-sm-max){
					width: 100%;
				}
		    @media(min-width: $screen-sm){
		    	margin-top: 14px;
		    	width: 477px;
	    	}
			}
		}
	}

	.video-flex-column{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.video-flex-row{
		display: flex;
		align-items: center;
		justify-content: center;

		@media(max-width: $screen-sm-max){
			flex-direction: column;
		}

		.video-wrapper:first-child{
			@media(min-width: $screen-sm){
				margin-right: 10px;
			}
		}
		.video-wrapper:last-child{
			@media(min-width: $screen-sm){
				margin-left: 10px;
			}
		}
	}

	&__title{
		@extend .heading;
		
		margin-top: 50px;
	}

	&__subtitle{
		@extend .subheading;

		margin: {
			top: 0;
			bottom: 25px;
		}
	}

	&__text{
		color: $color-white;
		font-weight: normal;
		text-align: center;

		@media(max-width: $screen-md-max){
			font-size: 16px;
			line-height: 21px;

			text-align: center;
		}
		@media(min-width: $screen-md){
			margin-bottom: 50px;

			font-size: 18px;
			line-height: 30px;
		}
	}

	&__close{
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 2;

		display: block;
		width: 25px;
		height: 25px;

		color: $color-white;
		transition: $transition;

		cursor: pointer;
		transform: rotate(45deg);
		font-size: 50px;
		line-height: 20px;

		&:hover{
			color: $color-primary;
		}
	}

	&__video{
		.dot-content-item__subtitle{
			margin-bottom: 25px;

			&--bottom{
				margin-top: 25px;
			}
		}
	}
}

.video-sixteen-nine-wrapper{
	margin: {
		left: auto;
		right: auto;
	}

	@media(min-width: $screen-sm){
		width: 70%;
	}
}
.video-sixteen-nine{
	position: relative;

	@media(min-width: $screen-sm){
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;
	}

	iframe{
		width: 100%;
		
		@media(min-width: $screen-sm){
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}