.gallery{
	display: flex;
	flex-wrap: wrap;

	width: 100%;
	
	$gutter: 5px;

	img{
		display: block;
		max-width: 100%;
		height: auto;
	}

	&__item{
		display: flex;
		align-items: center;
		justify-content: center;
		
		margin: $gutter;	
		overflow: hidden;
		

		/* Item sizes modification */ 

		/* item 25% on desktop */ 
		&--q{
			@media(min-width: $screen-md){
				flex: 0 0 calc(25% - #{$gutter * 2});
			}
		}

		/* item 50% on desktop */
		&--h{
			@media(max-width: $screen-md-max){
				flex: 0 0 calc(100% - #{$gutter * 2});
			}
			@media(min-width: $screen-md){
				flex: 0 0 calc(50% - #{$gutter * 2});
			}
		} 

		/* item 100% on all */
		&--f{
			flex: 0 0 calc(100% - #{$gutter * 2});
		} 


	}
}