.dots-content-wrapper{
	margin-top: 30px;
}

.dot-content-item{
	display: none;
	position: relative;
	padding: {
		top: 100px;
		bottom: 50px;
	}

	text-align: center;
	background-color: $color-secondary;

	.brush-font{
		margin-top: 15px;
		
		color: $color-primary;
	}

	.video-wrapper{
		
		&--vertical{
			width: 296px;
			height: 600px;

			background: {
				image: url('../dist/images/iphone.png');
				repeat: no-repeat;
				size: cover;
				position: 50%;
			}
			
			iframe{
				width: 261px;
		    height: 455px;
		    margin-top: 71px;
			}
		}

		&--horizontal{
			margin-bottom: 20px;

			width: 600px;
			height: 296px;

			background: {
				image: url('../dist/images/iphone-horizontal.png');
				repeat: no-repeat;
				size: cover;
				position: 50%;
			}
			
			iframe{
				width: 460px;
		    height: 260px;
		    margin-top: 17px;
			}
		}
	}

	.video-flex-column{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.video-flex-row{
		display: flex;
		align-items: center;
		justify-content: center;

		.video-wrapper:first-child{
			margin-right: 10px;
		}
		.video-wrapper:last-child{
			margin-left: 10px;
		}
	}
	/* iframe{
		@media(max-width: $screen-md-max){
			height: 300px;
		}
		@media(min-width: $screen-md){
			height: 500px;
		}
	} */

	&__title{
		@extend .heading;
		
		margin-top: 50px;
	}

	&__subtitle{
		@extend .subheading;

		margin: {
			top: 0;
			bottom: 10px;
		}
	}

	&__text{
		color: $color-white;
		font-weight: normal;
		text-align: center;

		@media(max-width: $screen-md-max){
			font-size: 16px;
			line-height: 21px;

			text-align: center;
		}
		@media(min-width: $screen-md){
			font-size: 18px;
			line-height: 30px;
		}
	}

	&__close{
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 2;

		display: block;
		width: 25px;
		height: 25px;

		color: $color-white;
		transition: $transition;

		cursor: pointer;
		transform: rotate(45deg);
		font-size: 50px;
		line-height: 20px;

		&:hover{
			color: $color-primary;
		}
	}

	&__video{
		.dot-content-item__subtitle{
			margin-bottom: 25px;

			&--bottom{
				margin-top: 25px;
			}
		}
	}
}