.dot-item{
	position: relative;
	cursor: pointer;
	margin: {
		left: 15px;
		right: 15px;
	}
	text-align: center;
	
	&.active::after,
	&:hover::after{
		opacity: 1;
	}
	
	&::after{
		opacity: 0;

		content: 'i';
		font-family: 'Northwell Swash';
		color: $color-primary;

		transition: $transition;

		@media(max-width: $screen-md-max){
			font-size: 25px;
			line-height: 25px;
		}
		@media(min-width: $screen-md){
			font-size: 50px;
			line-height: 50px;
		}
	}
	
	@media(min-width: $screen-md){
		width: calc(100% / 6);	
	}

	/* image */
	&__image{		
		margin: {
			left: auto;
			right: auto;
			bottom: 20px;
		}

		overflow: hidden;
		border-radius: 50%;

		background: {
			position: 50%;
			repeat: no-repeat;
			size: cover;
		}

		/* nivea dots */
		&--nivea-film{
			background-image: url('../dist/images/nivea-circle-film.jpg');
		}
		&--nivea-ad{
			background-image: url('../dist/images/nivea-circle-ad.jpg');
		}
		&--nivea-photo{
			background-image: url('../dist/images/nivea-circle-photo.jpg');
		}

		@media(max-width: $screen-md-max){
			display: none;
		}
		@media(min-width: $screen-md)and(max-width: $screen-xl-max){
			width: 80px;
			height: 80px;
		}
		@media(min-width: $screen-xl){
			width: 100px;
			height: 100px;
		}
	}
	
	/* title */ 
	&__title{
		margin: 0;
		text: {
			align: center;
			transform: uppercase;
		}

		font-weight: normal;
		color: $color-text;
		@media(max-width: $screen-sm-max){
			font-size: 14px;
		}
		@media(min-width: $screen-sm)and(max-width: $screen-lg-max){
			font-size: 18px;
		}
		@media(min-width: $screen-lg){
			font-size: 21px;
		}
	}
}