.dot-item{
	position: relative;
	cursor: pointer;
	
	text-align: center;
	
	@media(max-width: $screen-md-max){
		margin: {
			left: 5px;
			right: 5px;
		}
	}
	@media(min-width: $screen-md){
		margin: {
			left: 15px;
			right: 15px;
		}
	}
	
	&.active::after,
	&:hover::after{
		opacity: 1;
	}
	
	&::after{
		opacity: 0;

		content: 'i';
		font-family: 'Northwell Swash';
		color: $color-primary;

		transition: $transition;

		@media(max-width: $screen-md-max){
			font-size: 25px;
			line-height: 25px;
		}
		@media(min-width: $screen-md){
			font-size: 50px;
			line-height: 50px;
		}
	}
	
	@media(min-width: $screen-md){
		width: calc(100% / 6);	
	}

	/* image */
	&__image{		
		margin: {
			left: auto;
			right: auto;
			bottom: 20px;
		}

		overflow: hidden;
		border-radius: 50%;

		background: {
			position: 50%;
			repeat: no-repeat;
			size: cover;
		}

		/* nivea dots */
		&--nivea-film{
			background: {
				image: url('../dist/images/nivea-circle-film.jpg');
				position: 65% 50%;
				size: 170px;
			}
		}
		&--nivea-ad{
			background: {
				image: url('../dist/images/nivea-circle-ad.jpg');
		    position: 67% 15%;
    		size: 250px;
			}
		}
		&--nivea-photo{
			background: {
				image: url('../dist/images/nivea-circle-photo.jpg');
				size: 205px;
				position: 47% 32%;
			}
		}
		
		/* anson dots*/ 
		&--anson-film{
			background-image: url('../dist/images/anson-circle-film.jpg');
		}
		&--anson-photo{
			background-image: url('../dist/images/anson-circle-photo.jpg');
		}

		/* ford dots */ 
		&--ford-film{
			background-image: url('../dist/images/ford-circle-film.jpg');
		}
		&--ford-content-pi{
			background-image: url('../dist/images/ford-circle-content-pi.jpg');
		}

		/* tui dots */ 
		&--tui-film{
			background-image: url('../dist/images/tui-circle-film.png');
		}
		&--tui-photo{
			background-image: url('../dist/images/tui-circle-photo.jpg');
		}
		&--tui-content-pi{
			background-image: url('../dist/images/tui-circle-content-pi.png');
		}

		/* sOliver dots */ 
		&--soliver-film{
			background: {
				image: url('../dist/images/soliver-circle-film.jpg');
				size: 160px;
        position: 65% top;
			}
		}
		&--soliver-photo{
			background: {
				image: url('../dist/images/soliver-circle-photo.jpg');
				position: left -10px;
				size: 95px;
			}
		}

		/* vodafone dots */ 
		&--vodafone-film{
			background: {
				position: 0 0;
				image: url('../dist/images/vodafone-circle-film.jpg');
			}
		}
		&--vodafone-photo{
			background: {
				position: right 50%;
				image: url('../dist/images/vodafone-circle-photo.jpg');
			}
		}

		/* levis dot */ 
		&--levis-ad{
			background-image: url('../dist/images/levis-circle-ad.jpg');
		}

		/* deine chemie dot */ 
		&--chemie-film{
			background-image: url('../dist/images/chemie-circle-film.jpg');
		}

		@media(max-width: $screen-md-max){
			display: none;
		}
		@media(min-width: $screen-md)and(max-width: $screen-xl-max){
			width: 60px;
			height: 60px;
		}
		@media(min-width: $screen-xl){
			width: 80px;
			height: 80px;
		}
	}
	
	/* title */ 
	&__title{
		margin: 0;
		text: {
			align: center;
			transform: uppercase;
		}

		font-weight: normal;
		color: $color-text;
		@media(max-width: $screen-sm-max){
			font-size: 14px;
		}
		@media(min-width: $screen-sm)and(max-width: $screen-lg-max){
			font-size: 18px;
		}
		@media(min-width: $screen-lg){
			font-size: 21px;
		}
	}
}