.portfolio-item{
	text-align: center;
	position: relative;

	@media(max-width: $screen-md-max){
		flex: 0 0 60%;
		margin: {
			left: auto;
			right: auto;
			bottom: 20px;
		}
	}
	@media(min-width: $screen-md) and (max-width: $screen-lg-max){
		flex: 0 0 calc(50% - 20px);
		margin: {
			left: 10px;
			right: 10px;
		}
		margin-bottom: 20px;
	}
	@media(min-width: $screen-lg){
		flex: 0 0 calc(25% - 20px);

		height: 40vh;
		margin: {
			left: 10px;
			right: 10px;
		}
	}

	/* image */
	&__image{
		display: flex;
		align-items: center;

		cursor: pointer;
		
		@media(max-width: $screen-sm-max){
			align-items: flex-end;
			height: 150px;
		}
		@media(min-width: $screen-sm)and(max-width: $screen-lg-max){
			align-items: flex-end;
			height: 250px;
		}
		@media(min-width: $screen-lg){
			height: 100%;
		}
	}

	/* title */
	&__title{
		width: 100%;
		height: 35px;

		margin: 0;
		text: {
			align: center;
			transform: uppercase;
		}

		font-weight: normal;
		line-height: 35px;
		color: $color-black;

		background-color: $color-white;
		
		@media(max-width: $screen-xl-max){
			font-size: 18px;
		}
		@media(min-width: $screen-xl){
			font-size: 21px;
		}
	}
	
	/* list */ 
	&__list{
		list-style-type: none;
		padding: 0;
		margin: 0;

		overflow: hidden;
		pointer-events: none;

		@media(max-width: $screen-md){
			position: relative;
			height: 0;

			&.active{
				height: auto;
			}
		}
		@media(min-width: $screen-md) and (max-width: $screen-lg-max){
			top: -5px;

			position: absolute;
			
			left: 0;
			z-index: 2;
			width: 100%;
		}
		@media(min-width: $screen-lg){
			top: 100%;

			position: absolute;
			
			left: 0px;
			z-index: 2;
			width: 100%;
		}

		/* list item */ 
		li{
			will-change: auto;
			position: relative;
			height: 35px;

			font: {
				weight: normal;
			}
			line-height: 35px;
			color: $color-primary;
			background-color: $portfolio-item-li-bgc;
			border-top: 5px solid $color-primary;

			transition: transform .25s linear;
			
			&:nth-child(1){
				transform: translateY(-100%);	
				z-index: 4;
				&.active{
					transform: translateY(0);	
				}
			}
			&:nth-child(2){
				transform: translateY(-200%);	
				z-index: 3;
				&.active{
					transform: translateY(0%);	
				}
			}
			&:nth-child(3){
				transform: translateY(-300%);	
				z-index: 2;
				&.active{
					transform: translateY(0%);	
				}
			}
			&:nth-child(4){
				transform: translateY(-400%);	
				z-index: 1;
				&.active{
					transform: translateY(0%);	
				}
			}

			@media(min-width: $screen-md) and (max-width: $screen-lg-max){
				height: 35px;
				line-height: 35px;
			}

			@media(max-width: $screen-xl-max){
				font-size: 16px;
			}
			@media(min-width: $screen-xl){
				font-size: 21px;
			}
		}
	}

	/* Modification's */
	&--film{
		.portfolio-item__image{
			background: {
				position: left 50%;
				repeat: no-repeat;
				size: cover;
			}
			background-image: url('./images/portfolio-film.jpg');
		}
	}
	&--ads{
		.portfolio-item__image{
			background: {
				image: url('./images/portfolio-ad.jpg');
				position: 50% bottom;
				repeat: no-repeat;
				size: cover;
			}
		}
	}
	&--content{
		.portfolio-item__image{
			background: {
				image: url('./images/portfolio-piece.jpg');
				position: 50% 30%;
				repeat: no-repeat;
				size: 150%;
			}
		}
	}
	&--photo{
		.portfolio-item__image{
			background: {
				image: url('./images/portfolio-photo.jpg');
				position: 50%;
				repeat: no-repeat;
				size: cover;
			}
		}
	}

}