.tab-item{
	display: flex;

	@media(max-width: $screen-lg-max){
		flex-direction: column;
		height: 60px;
		overflow: hidden;
		margin-bottom: 5px;

		transition: height .25s linear;
	}

	@media(min-width: $screen-lg)and(max-width: $screen-xl-max){
		width: 90px;
		height: 100%;
		overflow: hidden;

	  transition: width .25s linear;
	}

	@media(min-width: $screen-xl){
		width: 130px;

		height: 100%;
		overflow: hidden;

    transition: width .25s linear;
	}
	
	/* if active */ 
	&.active{
		
		@media(max-width: $screen-lg-max){
			height: 465px;
		}
		@media(min-width: $screen-lg)and(max-width: $screen-xl-max){
			width: calc(100% - 360px);
		}
		@media(min-width: $screen-xl){
			width: calc(100% - 480px);
		}

		.tab-item__content{
			@media(max-width: $screen-lg-max){
				height: 400px;
				margin-top: 5px;
			}
			@media(min-width: $screen-lg){
				width: 100%;
				margin-right: 10px;
			}
		}
	}

	/* :last-child */ 
	&:last-child{
		&.active .tab-item__title{
			@media(min-width: $screen-lg){
				margin-right: 10px;
			}
		} 
		.tab-item__title{
			@media(min-width: $screen-lg){
				margin-right: 0;
			}
		}
		&.active .tab-item__content,
		.tab-item__content{
			@media(min-width: $screen-lg){
				margin-right: 0;
			}
		}
	}
	/* title */
	&__title{
		position: relative;
		cursor: pointer;
		overflow: hidden;
		text-overflow: ellipsis;

		background-color: $color-primary;

		@media(max-width: $screen-lg-max){
			padding: {
				left: 20px;
				right: 20px;
			}

			display: flex;
			align-items: center;
			justify-content: center;
			flex: 0 0 60px;


			line-height: 21px;
			text-align: center;
		}
		@media(min-width: $screen-lg)and(max-width: $screen-xl-max){
			display: flex;
			align-items: flex-end;
			flex: 0 0 80px;
			
			line-height: 80px;
			width: 80px;
			height: 100%;
			margin-right: 10px;
		}
		@media(min-width: $screen-xl){
			display: flex;
			align-items: flex-end;
			flex: 0 0 120px;
			
			line-height: 120px;
			width: 120px;
			height: 100%;
			margin-right: 10px;
		}
	}
	
	/* text */
	&__title-text{
		text-transform: uppercase;
		font-weight: normal;
		color: $color-text;

		@media(max-width: $screen-lg-max){
			font-size: 18px;
		}
		@media(min-width: $screen-lg)and(max-width: $screen-xl-max){
			display: block;
			float: left;

			margin-bottom: -60px;

			transform: rotate(-90deg);
			transform-origin: left top 0;

			font-size: 24px;
			white-space: nowrap;
		}
		@media(min-width: $screen-xl){
			display: block;
			float: left;

			margin-bottom: -80px;

			transform: rotate(-90deg);
			transform-origin: left top 0;

			font-size: 24px;
			white-space: nowrap;
		}
	}

	/* content */ 
	&__content{
		overflow: hidden;

		background-repeat: no-repeat;
		
		@media(max-width: $screen-md-max){
			br{
				display: none;
			}
		}
		@media(max-width: $screen-lg-max){
			display: flex;
			align-items: center;
			justify-content: center;

			height: 410px;
			background-position: 50%;
			background:{
				position: 50%;
				size: cover;
			}
		}
		@media(min-width: $screen-lg){
			background-size: cover;
		}

		.brush-font{
			margin-top: 15px;
			display: block;

			color: $color-primary;
			font-size: 70px;
			line-height: 30px;
		}
	}

	&__content-1{
		background: {
			position: left 50%;
			image: url('./images/about-us/bk-1.jpg');
		}

		.tab-item__text{
			@media(min-width: $screen-lg){
				text-align: left;
				margin: 15% 0 0 15%;
			}
		}
		.brush-font{
			@media(min-width: $screen-lg){
				margin-left: 25px;
			}
		}
	}
	&__content-2{
		background: {
			position: left 50%;
			image: url('./images/about-us/bk-2.jpg');
		}

		.tab-item__text{
			@media(min-width: $screen-lg){
				text-align: right;
				margin: 40px 40px 0 0;
			}
		}
		.brush-font{
			@media(min-width: $screen-lg){
				margin-right: 25px;
			}
		}
	}
	&__content-3{
		background:{
			position: left 50%;
			image: url('./images/about-us/bk-3.jpg');
		}

		.tab-item__text{
			@media(min-width: $screen-lg){
				text-align: left;
				margin: 80px 0 0 40px;
			}
		}
		.brush-font{
			@media(min-width: $screen-lg){
				margin-left: 40px;
			}
		}
	}
	&__content-4{
		background: {
			position: left top;
			image: url('./images/about-us/bk-4.jpg');
		}

		.tab-item__text{
			@media(min-width: $screen-lg){
				text-align: right;
				margin: 20% 40px 0 0;
			}
		}
		.brush-font{
			@media(min-width: $screen-lg){
				margin-right: 15px;
			}
		}
	}
	&__content-5{
		background: {
			position: right 50%;
			image: url('./images/about-us/bk-5.jpg');
		}

		.tab-item__text{
			@media(min-width: $screen-lg){
				text-align: right;
				margin: 40px 40px 0 0;
			}
		}
		.brush-font{
			@media(min-width: $screen-lg){
				margin-right: 25px;
			}
		}
	}
	
	/* text */
	&__text{
		font-weight: normal;

		color: $color-text;
		
		opacity: 0;
		transition: $transition;

		&.active{
			opacity: 1;
		}

		@media(max-width: $screen-lg-max){
			text-align: center;
			margin: 20px 20px 0 20px;

			.text-mobile{
				display: block;
				padding: 10px;
				
				line-height: 21px;
				background-color: rgba($color-white, .5);
			}
		}
		@media(min-width: $screen-lg){
			font-size: 18px;
			line-height: 30px;
		}
	}

}
