.header{
	
	background-color: $color-primary;

	@media(max-width: $screen-lg-max){
		height: 60px;
	}
	@media(min-width: $screen-lg){
		height: 100px;
	}

	.container{
		height: 100%;
	}

	&-logo-wrapper{
		position: relative;
		float: left;
		height: 100%;

		@media(max-width: $screen-lg-max){
			width: 150px;
		}
		@media(min-width: $screen-lg){
			width: 300px;	
		}
	}

	.logo{
		display: block;
		width: 100%;
		position: absolute;
		z-index: 2;
		left: 0;

		@media(max-width: $screen-lg-max){
			top: 15px;
		}
		@media(min-width: $screen-lg){
			top: 15px;
		}

		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	/* mobile menu button */ 
	&__menu-button{
		float: right;
		width: 50px;
		margin-top: 15px;

		background: inherit;
		border: 0;
		outline: 0;

		span{
			display: block;
			height: 2px;
			margin-bottom: 6px;

			background-color: $color-black;

			transition: $transition;
		}

		&:hover span{
			background-color: $color-white;
		}

		@media(min-width: $screen-lg){
			display: none;
		}
	}
}